{% extends "base.html.twig" %}

{% block title %}Spelet har börjat{% endblock %}

{% block main %}
    <h1>Spelet är igång!</h1>
    <p>Här kommer själva spelplanen att visas när du är redo att implementera logiken.</p>
{% endblock %}