{% extends "base.html.twig" %}

{% block title %}Me-sida{% endblock %}

{% block main %}
    <h1>Välkommen till min me-sida</h1>
    <p>Hej! Jag heter Valeriia Plokha och det här är min me-sida för mvc-kursen.</p>
    <img src="{{ asset('img/me.jpg') }}" alt="Bild på mig" style="max-width: 300px;">
{% endblock %}