{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <h1>Redovisning</h1>

    <section id="kmom01">
        <h2>kmom01</h2>
        <p>Här kommer din redovisningstext för kmom01.</p>
    </section>

    <section id="kmom02">
        <h2>kmom02</h2>
        <p>Text för kmom02 läggs här.</p>
    </section>

    {# Fyll på med fler kmom-avsnitt allt eftersom #}
{% endblock %}