{% extends 'base.html.twig' %}

{% block title %}Lägg till bok{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h1>Lägg till bok</h1>

    <form method="post">
        <p><label>Titel: <input type="text" name="title" required></label></p>
        <p><label>ISBN: <input type="text" name="isbn" required></label></p>
        <p><label>Författare: <input type="text" name="author" required></label></p>
        <p><label>Bild-URL: <input type="text" name="image" required></label></p>
        <p><button type="submit">Spara bok</button></p>
    </form>

    <p><a href="{{ path('library_index') }}">Tillbaka</a></p>
</div>
{% endblock %}